{% extends "base.html" %} {% block title %}402 Page{% endblock %} {% block
content %}
<div
  class="container-flex card my-2 alert alert-light mx-auto"
  style="width: 38rem"
>
  <img src="/static/images/httpstatus/402.png" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">Exceed API Calls Limit</h5>
    <p class="card-text">
      Sorry our application has exceeded the daily limits 🥲 Please come back
      tomorrow.
    </p>
    <p class="card-text">
      <small class="text-muted"
        ><a href="/" class="text-primary">Go Back to Homepage</a></small
      >
    </p>
  </div>
</div>
{% endblock %}
