{% extends "base.html" %} {% block title %}404 Page{% endblock %} {% block
content %}
<div
  class="container-flex card my-2 alert alert-light mx-auto"
  style="width: 38rem"
>
  <img src="/static/images/httpstatus/404.png" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">Page Not Found</h5>
    <p class="card-text">
      Oops, we couldn't find the content you are looking for. Please try again.
    </p>
    <p class="card-text">
      <small class="text-muted"
        ><a href="/" class="text-primary">Go Back to Homepage</a></small
      >
    </p>
  </div>
</div>
{% endblock %}
