<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://github.com/iamchenyu" target="_blank"
        ><i class="fa-brands fa-github"></i></a
      ><a href="https://www.linkedin.com/in/chenyuwang-/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i></a
      ><a href="https://www.instagram.com/jadey.wang/" target="_blank"
        ><i class="fa-brands fa-square-instagram"></i></a
      ><a href="mailto:jadeyw7@gmail.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
    </div>

    <p class="copyright">CHENYU / WANG © 2022</p>
  </footer>
</div>
