{% extends "base.html" %} {% block title %}Homepage{% endblock %} {% block
content %}
<div class="container-flex container homepage" id="homepage">
  <h1 class="display-4">What's in my fridge...</h1>
  <form method="POST" id="search-recipe-form" action="/results">
    <input
      type="text"
      placeholder="broccoli, carrot, chicken..."
      name="ingredients"
      class="form-control"
      id="ingredients-input"
    />
    <button class="btn btn-primary">Surprise me!</button>
  </form>
  <div class="mx-auto" id="spinner" style="display: none">
    <em class="display-4">Loading...</em>
    <div class="spinner-border display-4"></div>
  </div>
  <div id="homepageRecipes"></div>
</div>
{% endblock %}
