<div class="d-flex flex-row flex-wrap">
  <div class="card mb-5 mx-3" style="max-width: 520px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://spoonacular.com/recipeImages/716217-312x231.jpg"
          class="card-img"
          style="margin-top: 8px; margin-left: 8px"
        />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Vietnamese Pancakes with Vegetables, Herbs and a Fragrant Dipping
            Sauce (Bánh Xèo)<span
              class="badge badge-secondary"
              style="margin-left: 10px"
            >
              &#9829; 295</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div class="text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2 Used Ingredients: Carrot, Egg</li>
        <li class="list-group-item">Ready In Minutes: 45</li>
        <li class="list-group-item">Calories: 389.64 kcal</li>
      </ul>
      <div class="d-flex flex-row justify-content-around mb-2">
        <span class="badge badge-pill badge-primary">gluten free</span>
        <span class="badge badge-pill badge-primary">dairy free</span>
        <span class="badge badge-pill badge-primary">lacto ovo vegetarian</span>

        <span class="badge badge-pill badge-success">Vietnamese</span>
        <span class="badge badge-pill badge-success">Asian</span>
      </div>
    </div>
  </div>

  <div class="card mb-5 mx-3" style="max-width: 520px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://spoonacular.com/recipeImages/716217-312x231.jpg"
          class="card-img"
          style="margin-top: 8px; margin-left: 8px"
        />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Vietnamese Pancakes with Vegetables, Herbs and a Fragrant Dipping
            Sauce (Bánh Xèo)<span
              class="badge badge-secondary"
              style="margin-left: 10px"
            >
              &#9829; 295</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div class="text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2 Used Ingredients: Carrot, Egg</li>
        <li class="list-group-item">Ready In Minutes: 45</li>
        <li class="list-group-item">Calories: 389.64 kcal</li>
      </ul>
      <div class="d-flex flex-row justify-content-around mb-2">
        <span class="badge badge-pill badge-primary">gluten free</span>
        <span class="badge badge-pill badge-primary">dairy free</span>
        <span class="badge badge-pill badge-primary">lacto ovo vegetarian</span>

        <span class="badge badge-pill badge-success">Vietnamese</span>
        <span class="badge badge-pill badge-success">Asian</span>
      </div>
    </div>
  </div>

  <div class="card mb-5 mx-3" style="max-width: 520px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://spoonacular.com/recipeImages/716217-312x231.jpg"
          class="card-img"
          style="margin-top: 8px; margin-left: 8px"
        />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Vietnamese Pancakes with Vegetables, Herbs and a Fragrant Dipping
            Sauce (Bánh Xèo)<span
              class="badge badge-secondary"
              style="margin-left: 10px"
            >
              &#9829; 295</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div class="text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2 Used Ingredients: Carrot, Egg</li>
        <li class="list-group-item">Ready In Minutes: 45</li>
        <li class="list-group-item">Calories: 389.64 kcal</li>
      </ul>
      <div class="d-flex flex-row justify-content-around mb-2">
        <span class="badge badge-pill badge-primary">gluten free</span>
        <span class="badge badge-pill badge-primary">dairy free</span>
        <span class="badge badge-pill badge-primary">lacto ovo vegetarian</span>

        <span class="badge badge-pill badge-success">Vietnamese</span>
        <span class="badge badge-pill badge-success">Asian</span>
      </div>
    </div>
  </div>

  <div class="card mb-5 mx-3" style="max-width: 520px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://spoonacular.com/recipeImages/716217-312x231.jpg"
          class="card-img"
          style="margin-top: 8px; margin-left: 8px"
        />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Vietnamese Pancakes with Vegetables, Herbs and a Fragrant Dipping
            Sauce (Bánh Xèo)<span
              class="badge badge-secondary"
              style="margin-left: 10px"
            >
              &#9829; 295</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div class="text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2 Used Ingredients: Carrot, Egg</li>
        <li class="list-group-item">Ready In Minutes: 45</li>
        <li class="list-group-item">Calories: 389.64 kcal</li>
      </ul>
      <div class="d-flex flex-row justify-content-around mb-2">
        <span class="badge badge-pill badge-primary">gluten free</span>
        <span class="badge badge-pill badge-primary">dairy free</span>
        <span class="badge badge-pill badge-primary">lacto ovo vegetarian</span>

        <span class="badge badge-pill badge-success">Vietnamese</span>
        <span class="badge badge-pill badge-success">Asian</span>
      </div>
    </div>
  </div>

  <div class="card mb-5 mx-3" style="max-width: 520px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="https://spoonacular.com/recipeImages/716217-312x231.jpg"
          class="card-img"
          style="margin-top: 8px; margin-left: 8px"
        />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            Vietnamese Pancakes with Vegetables, Herbs and a Fragrant Dipping
            Sauce (Bánh Xèo)<span
              class="badge badge-secondary"
              style="margin-left: 10px"
            >
              &#9829; 295</span
            >
          </h5>
        </div>
      </div>
    </div>

    <div class="text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2 Used Ingredients: Carrot, Egg</li>
        <li class="list-group-item">Ready In Minutes: 45</li>
        <li class="list-group-item">Calories: 389.64 kcal</li>
      </ul>
      <div class="d-flex flex-row justify-content-around mb-2">
        <span class="badge badge-pill badge-primary">gluten free</span>
        <span class="badge badge-pill badge-primary">dairy free</span>
        <span class="badge badge-pill badge-primary">lacto ovo vegetarian</span>

        <span class="badge badge-pill badge-success">Vietnamese</span>
        <span class="badge badge-pill badge-success">Asian</span>
      </div>
    </div>
  </div>
</div>
